In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("titanic.csv")

In [13]:
df.loc[527]

PassengerId                   528
Survived                        0
Pclass                          1
Name           Farthing, Mr. John
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                   PC 17483
Fare                     221.7792
Cabin                         C95
Embarked                        S
Name: 527, dtype: object

In [26]:
idx = 0
for person in df["Name"]:
    if "Fannie" in person:
        break
    idx += 1
df.loc[idx]

PassengerId                              707
Survived                                   1
Pclass                                     2
Name           Kelly, Mrs. Florence "Fannie"
Sex                                   female
Age                                     45.0
SibSp                                      0
Parch                                      0
Ticket                                223596
Fare                                    13.5
Cabin                                    NaN
Embarked                                   S
Name: 706, dtype: object

In [27]:
pd.crosstab(df['Sex'], df['Survived'])

Survived    0    1
Sex
female     81  233
male      468  109

In [42]:
MaleSurvive = 0
FemaleSurvive = 0
MaleDied = 0
FemaleDied = 0
for idx in range(len(df)):
    if df.loc[idx]["Sex"] == "male" and df.loc[idx]["Survived"] == 1:
        MaleSurvive += 1
    if df.loc[idx]["Sex"] == "male" and df.loc[idx]["Survived"] == 0:
        MaleDied += 1
    if df.loc[idx]["Sex"] == "female" and df.loc[idx]["Survived"] == 1:
        FemaleSurvive += 1
    if df.loc[idx]["Sex"] == "female" and df.loc[idx]["Survived"] == 0:
        FemaleDied += 1
print("MaleSurvive = " + str(MaleSurvive))
print("FemaleSurvive = " + str(FemaleSurvive))
print("MaleDied = " + str(MaleDied))
print("FemaleDied = " + str(FemaleDied))

MaleSurvive = 109
FemaleSurvive = 233
MaleDied = 468
FemaleDied = 81

In [50]:
zerototwenty = 0
zerototwentydied = 0
twentytoforty = 0
twentytofortydied = 0
fortytosixty = 0
fortytosixtydied = 0
sixtytoeighty = 0
sixtytoeightydied = 0
childtotal = 0
adultotal = 0
oldtotal = 0
veryoldtotal = 0
for idx in range(len(df)):
    if df.loc[idx]["Age"] <= 20 and df.loc[idx]["Survived"] == 1:
        zerototwenty += 1
        childtotal += 1
    if df.loc[idx]["Age"] <= 20 and df.loc[idx]["Survived"] == 0:
        zerototwentydied += 1
        childtotal += 1
    if df.loc[idx]["Age"] > 20 and df.loc[idx]["Age"] <= 40 and df.loc[idx]["Survived"] == 1:
        twentytoforty += 1
        adultotal += 1
    if df.loc[idx]["Age"] > 20 and df.loc[idx]["Age"] <= 40 and df.loc[idx]["Survived"] == 0:
        twentytofortydied += 1
        adultotal += 1
    if df.loc[idx]["Age"] > 40 and df.loc[idx]["Age"] <= 60 and df.loc[idx]["Survived"] == 1:
        fortytosixty += 1
        oldtotal += 1
    if df.loc[idx]["Age"] > 40 and df.loc[idx]["Age"] <= 60 and df.loc[idx]["Survived"] == 0:
        fortytosixtydied += 1
        oldtotal += 1
    if df.loc[idx]["Age"] > 60 and df.loc[idx]["Age"] <= 80 and df.loc[idx]["Survived"] == 1:
        sixtytoeighty += 1
        veryoldtotal += 1
    if df.loc[idx]["Age"] > 60 and df.loc[idx]["Age"] <= 80 and df.loc[idx]["Survived"] == 0:
        sixtytoeightydied += 1
        veryoldtotal += 1
conTable = {
    "Child": [zerototwenty, zerototwentydied, childtotal],
    "Adult": [twentytoforty, twentytofortydied, adultotal],
    "Old": [fortytosixty, fortytosixtydied, oldtotal],
    "Very Old": [sixtytoeighty, sixtytoeightydied, veryoldtotal]
}
df2 = pd.DataFrame(conTable)
df2.index = ["Survived", "Died", "Total"]
df2.head()

          Child  Adult  Old  Very Old
Survived     82    153   50         5
Died         97    232   78        17
Total       179    385  128        22