In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("titanic.csv")

In [9]:
df.loc[527]

PassengerId                   528
Survived                        0
Pclass                          1
Name           Farthing, Mr. John
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                   PC 17483
Fare                     221.7792
Cabin                         C95
Embarked                        S
Name: 527, dtype: object

In [26]:
idx = 0
for person in df["Name"]:
    if "Fannie" in person:
        break
    idx += 1
df.loc[idx]

PassengerId                              707
Survived                                   1
Pclass                                     2
Name           Kelly, Mrs. Florence "Fannie"
Sex                                   female
Age                                     45.0
SibSp                                      0
Parch                                      0
Ticket                                223596
Fare                                    13.5
Cabin                                    NaN
Embarked                                   S
Name: 706, dtype: object

In [27]:
pd.crosstab(df['Sex'], df['Survived'])

Survived    0    1
Sex
female     81  233
male      468  109

In [6]:
MaleSurvive = 0
FemaleSurvive = 0
MaleDied = 0
FemaleDied = 0
for idx in range(len(df)):
    if df.loc[idx]["Sex"] == "male" and df.loc[idx]["Survived"] == 1:
        MaleSurvive += 1
    if df.loc[idx]["Sex"] == "male" and df.loc[idx]["Survived"] == 0:
        MaleDied += 1
    if df.loc[idx]["Sex"] == "female" and df.loc[idx]["Survived"] == 1:
        FemaleSurvive += 1
    if df.loc[idx]["Sex"] == "female" and df.loc[idx]["Survived"] == 0:
        FemaleDied += 1
print("MaleSurvive = " + str(MaleSurvive))
print("FemaleSurvive = " + str(FemaleSurvive))
print("MaleDied = " + str(MaleDied))
print("FemaleDied = " + str(FemaleDied))

NameError: name 'df' is not defined

In [4]:
zerototwenty = 0
zerototwentydied = 0
twentytoforty = 0
twentytofortydied = 0
fortytosixty = 0
fortytosixtydied = 0
sixtytoeighty = 0
sixtytoeightydied = 0
childtotal = 0
adultotal = 0
oldtotal = 0
veryoldtotal = 0
for idx in range(len(df)):
    if df.loc[idx]["Age"] <= 20 and df.loc[idx]["Survived"] == 1:
        zerototwenty += 1
        childtotal += 1
    if df.loc[idx]["Age"] <= 20 and df.loc[idx]["Survived"] == 0:
        zerototwentydied += 1
        childtotal += 1
    if df.loc[idx]["Age"] > 20 and df.loc[idx]["Age"] <= 40 and df.loc[idx]["Survived"] == 1:
        twentytoforty += 1
        adultotal += 1
    if df.loc[idx]["Age"] > 20 and df.loc[idx]["Age"] <= 40 and df.loc[idx]["Survived"] == 0:
        twentytofortydied += 1
        adultotal += 1
    if df.loc[idx]["Age"] > 40 and df.loc[idx]["Age"] <= 60 and df.loc[idx]["Survived"] == 1:
        fortytosixty += 1
        oldtotal += 1
    if df.loc[idx]["Age"] > 40 and df.loc[idx]["Age"] <= 60 and df.loc[idx]["Survived"] == 0:
        fortytosixtydied += 1
        oldtotal += 1
    if df.loc[idx]["Age"] > 60 and df.loc[idx]["Age"] <= 80 and df.loc[idx]["Survived"] == 1:
        sixtytoeighty += 1
        veryoldtotal += 1
    if df.loc[idx]["Age"] > 60 and df.loc[idx]["Age"] <= 80 and df.loc[idx]["Survived"] == 0:
        sixtytoeightydied += 1
        veryoldtotal += 1
conTable = {
    "Child": [zerototwenty, zerototwentydied, childtotal],
    "Adult": [twentytoforty, twentytofortydied, adultotal],
    "Old": [fortytosixty, fortytosixtydied, oldtotal],
    "Very Old": [sixtytoeighty, sixtytoeightydied, veryoldtotal]
}
df2 = pd.DataFrame(conTable)
df2.index = ["Survived", "Died", "Total"]
df2.head()

NameError: name 'df' is not defined

In [11]:
sSurvived = 0
cSurvived = 0
qSurvived = 0
sDied = 0
cDied = 0
qDied = 0
sTotal = 0
cTotal = 0
qTotal = 0
for idx in range(len(df)):
    if df.loc[idx]["Embarked"] == "S" and df.loc[idx]["Survived"] == 1:
        sSurvived += 1
        sTotal += 1
    elif df.loc[idx]["Embarked"] == "S" and df.loc[idx]["Survived"] == 0:
        sDied += 1
        sTotal += 1
    elif df.loc[idx]["Embarked"] == "C" and df.loc[idx]["Survived"] == 1:
        cSurvived += 1
        cTotal += 1
    elif df.loc[idx]["Embarked"] == "C" and df.loc[idx]["Survived"] == 0:
        cDied += 1
        cTotal += 1
    elif df.loc[idx]["Embarked"] == "Q" and df.loc[idx]["Survived"] == 1:
        qSurvived += 1
        qTotal += 1
    elif df.loc[idx]["Embarked"] == "Q" and df.loc[idx]["Survived"] == 0:
        qDied += 1
        qTotal += 1
conTable = {
    "S": [sSurvived, sDied, sTotal],
    "C": [cSurvived, cDied, cTotal],
    "Q": [qSurvived, qDied, qTotal]
}
df2 = pd.DataFrame(conTable)
df2.index = ["Survived", "Died", "Total"]
df2.head()

            S    C   Q
Survived  217   93  30
Died      427   75  47
Total     644  168  77

In [16]:
import seaborn as sns

In [17]:
passengerCity = {"C": 0, "Q": 0, "S": 0}
for passenger in df["Embarked"]:
    if passenger == "C":
        passengerCity["C"] += 1
    elif passenger == "Q":
        passengerCity["Q"] += 1
    elif passenger == "S":
        passengerCity["S"] += 1
percentClasses = {"C": (passengerCity["C"]/len(df))*100,
                  "Q": (passengerCity["Q"]/len(df))*100,
                  "S": (passengerCity["S"]/len(df))*100}
print(percentClasses)

{'C': 18.855218855218855, 'Q': 8.641975308641975, 'S': 72.27833894500561}