In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
df = pd.read_json('gme.json', encoding='ISO-8859-1')

In [3]:
print(len(df))

5600

In [6]:
print(df.loc[5599])

Date         2024-05-13 00:00:00
Open                       26.34
High                   38.200001
Low                        24.77
Close                  30.450001
Adj Close              30.450001
Volume                 182308700
Name: 5599, dtype: object

In [14]:
years = {}

In [17]:
for i in range(len(df)):
    year = df.loc[i]['Date'].year
    if year not in years.keys():
        years[year] = 1
    else:
        years[year] += 1
years

{2002: 224,
 2003: 252,
 2004: 252,
 2005: 252,
 2006: 251,
 2007: 251,
 2008: 253,
 2009: 252,
 2010: 252,
 2011: 252,
 2012: 250,
 2013: 252,
 2014: 252,
 2015: 252,
 2016: 252,
 2017: 251,
 2018: 251,
 2019: 252,
 2020: 253,
 2021: 252,
 2022: 251,
 2023: 250,
 2024: 92}